* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div {
  font-family: 'Roboto';
}
.cards-app-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f4faff;
  min-height: 100vh;
}
.cards-list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin-top: 46px;
}
.heading {
  text-align: center;
  color: #171f46;
  font-size: 46px;
  font-weight: bold;
}
.description {
  text-align: center;
  color: #64748b;
  font-size: 16px;
  margin-top: 22px;
  max-width: 620px;
}
ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 30px;
  max-width: 1000px;
  padding-left: 0px;
}
@media screen and (min-width: 768px) {
  .cards-list-container {
    margin-top: 94px;
  }
}
